Activelock3.6 for VB2008/Activelock3.6Service/Activelock3_6_Sample/Service References/Activelock36Service/Activelock3_6Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pInstallCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSoftwareName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSoftwareVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrialResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pInstallCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSoftwareName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSoftwareVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pRegisteredLevel" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="networkLicense" type="tns:LicFlags" />
            <s:element minOccurs="1" maxOccurs="1" name="maximumUsers" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mLicType" type="tns:ALLicType" />
            <s:element minOccurs="0" maxOccurs="1" name="mDays" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="LicFlags">
        <s:restriction base="s:string">
          <s:enumeration value="alfSingle" />
          <s:enumeration value="alfMulti" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ALLicType">
        <s:restriction base="s:string">
          <s:enumeration value="allicNone" />
          <s:enumeration value="allicPeriodic" />
          <s:enumeration value="allicPermanent" />
          <s:enumeration value="allicTimeLocked" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLicenseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrialSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrial" />
  </wsdl:message>
  <wsdl:message name="GetTrialSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrialResponse" />
  </wsdl:message>
  <wsdl:message name="GetLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:GetLicense" />
  </wsdl:message>
  <wsdl:message name="GetLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:GetLicenseResponse" />
  </wsdl:message>
  <wsdl:portType name="Activelock3_6ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrial">
      <wsdl:input message="tns:GetTrialSoapIn" />
      <wsdl:output message="tns:GetTrialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLicense">
      <wsdl:input message="tns:GetLicenseSoapIn" />
      <wsdl:output message="tns:GetLicenseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Activelock3_6ServiceSoap" type="tns:Activelock3_6ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrial">
      <soap:operation soapAction="http://tempuri.org/GetTrial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicense">
      <soap:operation soapAction="http://tempuri.org/GetLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Activelock3_6ServiceSoap12" type="tns:Activelock3_6ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrial">
      <soap12:operation soapAction="http://tempuri.org/GetTrial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicense">
      <soap12:operation soapAction="http://tempuri.org/GetLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Activelock3_6Service">
    <wsdl:port name="Activelock3_6ServiceSoap" binding="tns:Activelock3_6ServiceSoap">
      <soap:address location="http://localhost:2486/Activelock3_6Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Activelock3_6ServiceSoap12" binding="tns:Activelock3_6ServiceSoap12">
      <soap12:address location="http://localhost:2486/Activelock3_6Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>